body{
    text-align: center;
}

#grafico_asientos{
    display: flex;
    justify-content: center
}





/* no modificar plis */
#grafico_asientos{
    position: relative;
}
#lado_derecho{
    padding-bottom: 20px;
}
.wrapper{
    position: absolute;
}
